<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foam and Bubbles - AfricanKids Atire</title>
    <link rel="stylesheet" href="./styles/akaStyles.css" />
</head>

<body>

    <div class="gallery">
        <h1>AfricanKids Atire</h1>
        <img src="/static/AKA/greenWhiteShirt.jpg" alt="greenWhiteShirt">
        <img src="/static/AKA/blueWhiteShirtAndPants.jpg" alt="blueWhiteShirtAndPants">
        <img src="/static/AKA/blueWhiteLongSleeveShirt.jpg" alt="blueWhiteLongSleeveShirt">
        <img src="/static/AKA/blueWhiteShirt.jpg" alt="blueWhiteShirt">
        <img src="/static/AKA/skirtOveralls.jpg" alt="skirtOveralls">
        <img src="/static/AKA/purpleBlueWhiteLongSleeveShirt.jpg" alt="purpleBlueWhiteLongSleeveShirt">
        <img src="/static/AKA/blueWhiteDress.jpg" alt="blueWhiteDress">
        <img src="/static/AKA/blueShirtYellowPants.jpg" alt="blueShirtYellowPants">
        <h1>Career Costumes</h1>
        <img src="/static/CareerCostumes/armySoldier.jpg" alt="armySoldier">
        <img src="/static/CareerCostumes/fireman.jpg" alt="fireman">
        <img src="/static/CareerCostumes/nurse.jpg" alt="nurse">
        <img src="/static/CareerCostumes/policeOfficer.jpg" alt="policeOfficer">
        <img src="/static/CareerCostumes/surgeon.jpg" alt="surgeon">
        <img src="/static/CareerCostumes/trafficOfficer.jpg" alt="trafficOfficer">
    </div>
</body>

</html>