<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foam and Bubbles</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    {% include 'navbar.html' %}

    <h1>Foam & Bubbles</h1>
    <p>We always have time for washing</p>

    <div>Pick up and drop off service</div>
    <div>Work overalls handles seperataly</div>
    <div>Seamstress</div>
    <div>AfricanKidz clothing range</div>
</body>

</html>